@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  color: black;
  background-color: #E8E8E8;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.hero {
  display: grid;
  grid-template-columns: 60% auto;
  max-width: 1500px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px #D0D0D0;
}

.hero-image {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 13%;
  left: 6%;
  padding: 1em;
  transform: translateY(-50%);
}

nav ul {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  position: absolute;
  z-index: 2;
  top: 13%;
  left: 20%;
  transform: translateY(-60%);
}
nav ul li {
  margin-right: 0.7em;
}
nav ul a {
  color: white;
  font-size: 14px;
  padding: 0.7em;
}

.menu, .close {
  display: none;
}

.carousel {
  position: relative;
  aspect-ratio: 1/0.636;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide-image {
  width: 100%;
  height: 100%;
}

.one {
  background-image: url("../images/desktop-image-hero-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.two {
  background-image: url("../images/desktop-image-hero-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.three {
  background-image: url("../images/desktop-image-hero-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  width: 8.35%;
  aspect-ratio: 1/1;
}

.carousel-button.prev {
  transform: translateX(100%);
}

.carousel-button.next {
  transform: translateX(199.5%);
}

.hero-text {
  position: relative;
  background-color: white;
}

.slider-text {
  margin: 15% 15% 0 15%;
}

.heading {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.7em;
}

.main-text {
  color: hsl(0deg, 0%, 63%);
  font-size: 14px;
  line-height: 1.5;
  margin-top: 0em;
}

.shop {
  color: black;
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7em 0.7em 0.7em 0;
}
.shop span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8em;
}
.shop svg {
  margin-left: 1.5em;
}

.about {
  display: grid;
  grid-template-columns: 30% auto 30%;
  max-width: 1500px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 7px 29px 0px #D0D0D0;
}

.about-text {
  margin: 4.5em 4em 0 4em;
}

.about-heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-bottom: 1em;
}

@media (max-width: 1230px) {
  .heading {
    font-size: 35px;
  }
  .main-text {
    font-size: 13px;
  }
  .about-text {
    margin: 3.5em 4em 2em 4em;
  }
  .about-heading {
    font-size: 13px;
  }
}
@media (max-width: 1080px) {
  .heading {
    font-size: 30px;
  }
  .main-text {
    font-size: 12px;
  }
  .about-text {
    margin: 3em 3em 0 3em;
  }
  .about-heading {
    font-size: 12px;
  }
  .nav-links a {
    font-size: 13px;
  }
  nav .logo {
    margin: 3rem 2rem 2.9rem 3rem;
  }
}
@media (max-width: 922px) {
  .heading {
    font-size: 24px;
  }
  .slider-text {
    margin: 11% 12% 0 12%;
  }
  .main-text {
    font-size: 11px;
  }
  .about-text {
    margin: 2em 2.5em 1.5em 2.5em;
  }
  .about-heading {
    font-size: 11px;
  }
  .nav-links a {
    font-size: 11px;
  }
  nav .logo {
    margin: 2rem 1.2rem 2rem 2rem;
  }
  nav ul li {
    margin-right: 0.4em;
  }
}
@media (max-width: 745px) {
  .hero {
    grid-template-columns: 100%;
    max-width: 400px;
  }
  .about {
    grid-template-columns: 100%;
    max-width: 400px;
  }
  .carousel-button {
    width: 15%;
  }
  .carousel-button.prev {
    transform: translateX(-100%);
  }
  .carousel-button.next {
    transform: unset;
  }
  .carousel {
    aspect-ratio: 1/0.96;
  }
  .one {
    background-image: url("../images/mobile-image-hero-1.jpg");
  }
  .two {
    background-image: url("../images/mobile-image-hero-2.jpg");
  }
  .three {
    background-image: url("../images/mobile-image-hero-3.jpg");
  }
  .logo {
    left: 50%;
    top: 9.9%;
    transform: translateX(-50%);
  }
  .menu {
    position: absolute;
    display: block;
    z-index: 2;
    cursor: pointer;
    padding: 1em;
    top: 9.5%;
    left: 4%;
  }
  nav {
    z-index: 3;
    position: fixed;
    top: 0;
    max-width: 400px;
    background-color: white;
    width: 100%;
    height: 20%;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  nav ul {
    top: 50%;
    left: 28%;
    transform: translateY(-60%);
  }
  nav li a {
    color: black;
    font-size: min(4vw, 16px);
    font-weight: bold;
  }
  nav .close {
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    padding: 1em;
    transform: translateY(-60%);
    cursor: pointer;
    margin-left: 1.5em;
  }
  .open-nav {
    transform: translateY(0%);
  }
  .slider-text {
    margin: 15% 8% 15% 8%;
  }
  .heading {
    font-size: min(9vw, 38px);
    margin-bottom: 0.4em;
  }
  .main-text {
    font-size: min(4.5vw, 16px);
  }
  .shop {
    margin-top: 3em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.7em;
  }
  .shop span {
    font-size: min(4vw, 15px);
  }
  .about-text {
    margin: 4em 3em 4em 3em;
  }
  .about-heading {
    font-size: min(4vw, 15px);
    margin-bottom: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */