@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  color: black;
  background-color: #E8E8E8;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.hero {
  display: grid;
  grid-template-columns: 60% auto;
  max-width: 1500px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px #D0D0D0;
}

.hero-image {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 13%;
  left: 6%;
  padding: 1em;
  transform: translateY(-50%);
}
.logo svg {
  width: min(5vw, 75px);
}

nav ul {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  position: absolute;
  z-index: 2;
  top: 13%;
  left: 21%;
  transform: translateY(-40%);
}
nav ul li {
  margin-right: 0.7em;
}
nav ul li a {
  color: white;
  font-size: min(1.1vw, 16px);
  padding: 0.7em;
  display: block;
}
nav ul li a::after {
  content: "";
  display: block;
  width: 50%;
  height: 0.17em;
  margin: 0.6em auto 0 auto;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
nav ul li a:hover::after {
  opacity: 1;
}

.menu, .close {
  display: none;
}

.carousel {
  position: relative;
  aspect-ratio: 1/0.636;
}

.slide {
  position: absolute;
  inset: 0;
}
.slide .slide-image {
  opacity: 0;
  transition: 200ms opacity ease-in-out 200ms;
}
.slide .slide-text {
  opacity: 0;
  transition: 200ms opacity ease-in-out 0ms;
}

.slide[data-active] {
  z-index: 1;
}
.slide[data-active] .slide-image {
  transition: 200ms opacity ease-in-out 0ms;
  opacity: 1;
}
.slide[data-active] .slide-text {
  opacity: 1;
  transition: 300ms opacity ease-in-out 200ms;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.one {
  background-image: url("../images/desktop-image-hero-1.jpg");
}

.two {
  background-image: url("../images/desktop-image-hero-2.jpg");
}

.three {
  background-image: url("../images/desktop-image-hero-3.jpg");
}

.carousel-button {
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: none;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  width: 8.35%;
  aspect-ratio: 1/1;
}
.carousel-button svg {
  height: 35%;
}
.carousel-button:hover {
  background-color: #484848;
  border: 1px solid #484848;
}

.carousel-button.prev {
  transform: translateX(99.5%);
}

.carousel-button.next {
  transform: translateX(199%);
}

.hero-text {
  background-color: white;
}

.slide-text {
  position: absolute;
  top: 15%;
  right: -55.9%;
  width: min(27vw, 405px);
}

.heading {
  font-size: min(3vw, 45px);
  font-weight: 700;
  margin-bottom: 0.7em;
}

.main-text {
  color: hsl(0deg, 0%, 63%);
  font-size: min(1vw, 15px);
  line-height: 1.5;
  margin-top: 0em;
  margin-bottom: 1.5em;
}

.shop {
  color: black;
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7em;
  margin-left: -0.7em;
}
.shop span {
  font-size: min(1vw, 15px);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8em;
  margin-right: 1.5em;
}
.shop svg {
  width: min(3.2vw, 45px);
}
.shop:hover {
  opacity: 0.45;
}

.about {
  display: grid;
  grid-template-columns: 30% auto 30%;
  max-width: 1500px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 7px 29px 0px #D0D0D0;
}

.about-text {
  margin: 12% 10% 0 10%;
}

.about-heading {
  font-size: min(1vw, 15px);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-bottom: 1.5em;
}

@media (max-width: 745px) {
  .hero {
    grid-template-columns: 100%;
    max-width: 400px;
  }
  .about {
    grid-template-columns: 100%;
    max-width: 400px;
  }
  .carousel-button {
    width: 15%;
  }
  .carousel-button.prev {
    transform: translateX(-100%);
  }
  .carousel-button.next {
    transform: unset;
  }
  .carousel {
    aspect-ratio: 1/0.96;
  }
  .one {
    background-image: url("../images/mobile-image-hero-1.jpg");
  }
  .two {
    background-image: url("../images/mobile-image-hero-2.jpg");
  }
  .three {
    background-image: url("../images/mobile-image-hero-3.jpg");
  }
  .logo {
    left: 50%;
    top: 14.5%;
    transform: translateX(-50%) translateY(-50%);
  }
  .logo svg {
    width: min(18.5vw, 75px);
  }
  .menu {
    position: absolute;
    display: block;
    z-index: 2;
    width: min(5vw, 20px);
    cursor: pointer;
    padding: 1em;
    top: 14%;
    transform: translateY(-50%);
    left: 4%;
  }
  nav {
    z-index: 4;
    position: fixed;
    top: 0;
    max-width: 400px;
    background-color: white;
    width: 100%;
    height: min(28.7vw, 115px);
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }
  nav ul {
    top: 50%;
    left: 26%;
    transform: translateY(-50%);
  }
  nav ul li a {
    color: black;
    font-size: min(4vw, 16px);
    font-weight: bold;
  }
  nav ul li a::after {
    content: unset;
  }
  nav .close {
    display: block;
    position: absolute;
    width: min(4vw, 16px);
    top: 50%;
    left: 4%;
    padding: 1em;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .open-nav {
    transform: translateY(0%);
  }
  .dimer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    z-index: 3;
    transform: translateX(-100%);
    transition: opacity 0.2s ease-in-out, transform 0s ease-in-out 0.2s;
  }
  .dimed {
    transform: translateX(0%);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out, transform 0s ease-in-out 0s;
  }
  .hero-text {
    height: min(100vw, 400px);
  }
  .slide-text {
    top: 105%;
    right: 10%;
    width: min(80vw, 320px);
  }
  .heading {
    font-size: min(9vw, 36px);
    margin-bottom: 0.5em;
  }
  .main-text {
    font-size: min(3.75vw, 15px);
    margin-bottom: 2em;
  }
  .shop span {
    font-size: min(4vw, 15px);
  }
  .shop svg {
    width: min(11vw, 45px);
  }
  .about-text {
    margin-bottom: 12%;
  }
  .about-heading {
    font-size: min(4vw, 15px);
    margin-bottom: 1.5em;
  }
}/*# sourceMappingURL=main.css.map */